{% extends "base.html" %}
{% block title %}{{current_user.first_name}} {{current_user.last_name}} {% endblock %}
{% block content %}

<div class="container">
    <div class="row vh justify-content-center">
        <div class="col-md-5">
            <div class="row text-center mb-6">
                <h1>Update Profile</h1>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="mb-6 form-group">
                    <label for="image_file">Update Profile Image</label>
                    <input type="file" class="form-control-file" id="image_file" name="image_file">
                </div>
                <div class="mb-6 form-group">
                    <label for="firstname" class="form-label"> First Name</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" value="{{current_user.first_name}}">
                </div>
                <div class="mb-6 form-group">
                    <label for="lastname" class="form-label"> Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" value="{{current_user.last_name}}">
                </div>
                <div class="mb-6 form-group">
                    <label for="email" class="form-label"> Email Adress</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailhelp" value="{{current_user.email}}">
                </div>
                <button type="submit" class="btn btn-success w-100">Update</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}